AI-Powered Resume Screener.json
{
  "name": "My workflow - 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -128
      ],
      "id": "194c3bc6-8a83-43f5-920a-33db60092671",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "simple": false,
        "filters": {
          "q": "has:attachment filename:pdf"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -240,
        -128
      ],
      "id": "8ef3f7bf-bca4-4935-9289-98b29de55391",
      "name": "Get many messages",
      "webhookId": "53a9b7eb-0c19-4ae0-94fc-476951001052",
      "credentials": {
        "gmailOAuth2": {
          "id": "gWItNlYmpMCWUo6D",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({\n  model: \"llama-3.3-70b-versatile\",\n  messages: [\n    {\n      role: \"user\",\n      content:\n      \"You are an AI Recruitment Assistant.\\n\\n\" +\n\n      \"Analyze the resume and compare it with the Job Description.\\n\\n\" +\n\n      \"Extract:\\n\" +\n      \"1. Name\\n\" +\n      \"2. Email\\n\" +\n      \"3. Phone\\n\" +\n      \"4. Skills\\n\" +\n      \"5. Experience\\n\" +\n      \"6. Matching Skills\\n\" +\n      \"7. Missing Skills\\n\" +\n      \"8. Score (0-100)\\n\\n\" +\n\n      \"Recommendation:\\n\" +\n      \"Strong Match = Score >= 80\\n\" +\n      \"Moderate Match = Score 60-79\\n\" +\n      \"Not Suitable = Score < 60\\n\\n\" +\n\n      \"Return ONLY valid JSON.\\n\\n\" +\n\n      \"Example:\\n\" +\n      \"{\\n\" +\n      \"\\\"name\\\":\\\"\\\",\\n\" +\n      \"\\\"email\\\":\\\"\\\",\\n\" +\n      \"\\\"phone\\\":\\\"\\\",\\n\" +\n      \"\\\"skills\\\":\\\"Python, SQL\\\",\\n\" +\n      \"\\\"experience\\\":\\\"4 Years\\\",\\n\" +\n      \"\\\"matching_skills\\\":\\\"Python, SQL\\\",\\n\" +\n      \"\\\"missing_skills\\\":\\\"Power BI\\\",\\n\" +\n      \"\\\"score\\\":85,\\n\" +\n      \"\\\"recommendation\\\":\\\"Strong Match\\\"\\n\" +\n      \"}\\n\\n\" +\n\n      \"Job Description:\\n\" +\n      $json.job_description +\n\n      \"\\n\\nResume:\\n\" +\n      $(\"Extract from File\").item.json.text\n    }\n  ]\n})}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        -128
      ],
      "id": "901db763-190a-4303-ac79-7e24d8d7e948",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RxLH5iajmN0H8zCrAVpl8lfqiFCZ1M4-T72auY9iIBM/edit?gid=1846395575#gid=1846395575",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RxLH5iajmN0H8zCrAVpl8lfqiFCZ1M4-T72auY9iIBM/edit?gid=1846395575#gid=1846395575",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json.name}}",
            "Email": "={{$json.email}}",
            "Phone": "={{$json.phone}}",
            "Skills": "={{$json.skills}}",
            "Experience": "={{$json.experience}}",
            "Matching Skills": "={{$json.matching_skills}}",
            "Missing Skills": "={{$json.missing_skills}}",
            "Score": "={{$json.score}}",
            "Recommendation": "={{$json.recommendation}}",
            "Rank": "={{$json.rank}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Matching Skills",
              "displayName": "Matching Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Missing Skills",
              "displayName": "Missing Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rank",
              "displayName": "Rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "object",
              "displayName": "object",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created",
              "displayName": "created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "choices",
              "displayName": "choices",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "usage",
              "displayName": "usage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "usage_breakdown",
              "displayName": "usage_breakdown",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "system_fingerprint",
              "displayName": "system_fingerprint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "x_groq",
              "displayName": "x_groq",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "service_tier",
              "displayName": "service_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        -48
      ],
      "id": "ec6eb30b-4fef-4f5c-b552-fa1ac1f5010f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DUjehwWgs1onNMEE",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -80,
        -128
      ],
      "id": "32eab48e-5ef3-43c8-bf7b-8bb2c5047f48",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90c6221c-7417-4aba-a1b8-b44c3ae9ac3a",
              "name": "job_description",
              "value": "Data Analyst  Required Skills: SQL Python Power BI Excel  Experience: 2+ years  Responsibilities: Dashboard creation, reporting, data analysis.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -128
      ],
      "id": "55d09ad7-dc68-496c-a8f8-b280d2f1cdee",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $json.choices[0].message.content;\n\nconst cleaned = content\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst data = JSON.parse(cleaned);\n\nlet rank = '';\n\nif (data.score >= 90) {\n  rank = 'A';\n} else if (data.score >= 75) {\n  rank = 'B';\n} else {\n  rank = 'C';\n}\n\nreturn {\n  name: data.name,\n  email: data.email,\n  phone: data.phone,\n  skills: data.skills,\n  experience: data.experience,\n  matching_skills: data.matching_skills,\n  missing_skills: data.missing_skills,\n  score: data.score,\n  recommendation: data.recommendation,\n  rank: rank\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -128
      ],
      "id": "173e36d6-95f1-4928-8313-e575b60284fe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c672a46a-2872-4e2b-a8f1-15584ff06662",
              "leftValue": "=  {{ Number($json.score) }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -208
      ],
      "id": "15daee89-b9c5-4768-96c0-8fb6ea2018be",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "Application Shortlisted",
        "message": "=Dear {{$json.name}},<br><br>\n\nCongratulations!<br><br>\n\nBased on our AI screening process, your profile has been shortlisted for the next round.<br><br>\n\nOur recruitment team will contact you shortly.<br><br>\n\nRegards,<br>\nHR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        -272
      ],
      "id": "4eeac848-89d6-4c5e-b614-5c59e37fd7ae",
      "name": "Send a message",
      "webhookId": "70d44626-ae57-4a62-8718-a717ce551365",
      "credentials": {
        "gmailOAuth2": {
          "id": "gWItNlYmpMCWUo6D",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "53ef566e-2397-47f7-9a2c-766fbb33ec0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20768d3ec1afb2d815a8baaafa316f40bccf63ecbec914d378af0f904d5a9428"
  },
  "id": "0Aa8IEGc9p9sPIlo",
  "tags": []
}